.installChoice {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  padding: 0px;
  color: #333333;
  a {
    color: #333333;
  }
}

.installChoiceStep {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 12px;
  background: #F8F8F8;
  border: 1px solid #E8E8E8;
  border-radius: 6px;
  font-size: 14px;

  &:hover {
    color: inherit;
    background: #F0F0F0;
    border: #E0E0E0;
  }
}

.installChoiceProvider {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  font-weight: 600;
  line-height: 19px;

  img {
    width: 44px;
    height: 44px;
    margin: 0px;
  }
}

.overviewInstallChoice, .overviewFeatureChoice {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.overviewInstallChoice, .overviewFeatureChoice {
  margin-top: 15px;
}
.overviewInstallChoice + h2, .overviewFeatureChoice + h2 {
  margin-top: 32px;
}
.overviewInstallChoiceStep, .overviewFeatureChoiceStep {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px 10px 8px;
  background-color: #f8f8f8;
  border-color: #e8e8e8;
  color: inherit;

  &:hover {
    color: inherit;
    border-color: #e0e0e0;
    background-color: #f0f0f0;
  }

  &:last-child {
    margin-right: 0;
  }

  strong {
    font-weight: 600;
    display: block;
  }
}

.overviewInstallChoiceStep {
  img {
    max-width: 100px;
    height: 60px;
    margin: 0;
    padding: 5px 0 5px 0;
    border: none;
    order: 1;
  }

  img, strong {
    align-self: center;
    text-align: center;
  }
}

.overviewFeatureChoiceStep {
  flex-direction: column;
}

@media (min-width: 620px) {
  .overviewInstallChoiceStep img {
    order: 0;
  }
  .overviewInstallChoice, .overviewFeatureChoice {
    margin-bottom: 10px;
  }
  .installChoice {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .overviewFeatureChoice {
    grid-template-columns: 1fr 1fr;
  }
  .overviewInstallChoiceStep, .overviewFeatureChoiceStep {
    flex-direction: column;
  }
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li.disabled > a {
  color: #777777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav:before,
.nav:after {
  content: " ";
  display: table;
}
.nav:after {
  clear: both;
}

.navTabs {
  border-bottom: 1px solid #ddd;
}
.navTabs > li {
  float: left;
  margin-bottom: -1px;
}
.navTabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.navTabs > li > a:hover {
  border-color: #eeeeee #eeeeee #ddd;
}
.navTabs > li.active > a,
.navTabs > li.active > a:hover,
.navTabs > li.active > a:focus {
  color: #555555;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

.navTabs {
  .navLink.active,
  .navItem.show .navLink {
    color: #555;
    background-color: #fff;
    border-color: #ddd #ddd transparent;
  }
}

.tabContent {
  > {
    .tabPane {
      display: none;
    }
    .active {
      display: block;
    }
  }
}

.tabPanelTextContent {
  margin: 24px 0px;
}
