.container {
  background-color: #fff7da;
  border: 1px solid #f5e8bc;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
}

.container h3 {
  line-height: 25px;
  margin-bottom: 5px;
}

.container p {
  margin: 0;
}
