.sql {
  display: block;
  font-family: monospace;
  hyphens: none;
}
.wrap {
  white-space: pre-wrap;
}
.keyword {
  text-transform: uppercase;
  color: #005d00;
  word-break: normal;
}
.aggregate {
  color: inherit;
}
.string,
.number {
  color: #555;
}
.comment {
  color: #888;
}

.noborder {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
}

.inline {
  display: inline;
}
